{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="{{ asset('styles/labels.css')  }}" rel="stylesheet" >
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script type="module">
        import qrcodejs from 'https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/+esm';
        document.querySelectorAll('.qr').forEach(e => {
            console.log(e);

                new QRCode(e, {
                    text:  e.dataset.qr,
                    width: 64,
                    height: 64,
                    colorDark : "#000000",
                    colorLight : "#ffffff"
                })

        }
        );
        // new QRCode(document.getElementById("qrcode"), "http://jindo.dev.naver.com/collie");
    </script>

{% endblock %}

{% block header '' %}
{% block body_wrapper_class '' %}
{% block body %}
    <div id="qrcode"></div>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-4 w-{{ app.request.get('width')|default(3) }}in">
                    <div class="card">
                        <div class="card-header">
                            {{ product.name }}
                        </div>
                        <div class="card-body">
                            {{ product.description }}
                        </div>
                        <div class="card-footer">
                            <div class="qr" data-qr="{{ product.id }}"></div>
                            ${{ product.priceString }}
                            {{ product.id }}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
