<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
        />

        <meta
                name="Description"
                content="Based on the SymfonyCast Stimulus Tutorial"
        />

        <title>{% block title %}MVP Office Supplies{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <div class="page-top">
            <header class="header d-print-none">
                <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
                    <a class="navbar-brand" href="/">
                        <img src="{{ asset('images/mvp-logo-light.png' ) }}"
                                width="50"
                                height="50"
                                alt="MVP Office Supplies Logo"
                        >

                        <span class="p-3">MVP Office Supplies</span>
                    </a>

                    <ul class="navbar-nav">
                        <li>
                            <twig:PwaInstall>
                                <twig:block name="launch">
                                    <button class="btn btn-outline-success">
                                        Lauch button here...
                                    </button>
                                </twig:block>
                                <twig:block name="install">
                                    <button class="btn btn-success">
                                        Install as PWA
                                    </button>
                                </twig:block>
                            </twig:PwaInstall>

                            online/install button
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    Log out
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    Log in
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">
                                    Register
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_label') }}">
                                labels
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_cart') }}">
                                Shopping Cart ({{ count_cart_items() }})
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_reactive_cart') }}">
                                Reactive Cart ({{ count_cart_items() }})
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

            {% for flash in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ flash }}
                </div>
            {% endfor %}
            {% for flash in app.flashes %}
                <div class="alert alert-danger">
                    {{ flash }}
                </div>
            {% endfor %}
        </div>

        {% endblock header %}

        <div class="{% block body_wrapper_class 'container-fluid' %} ">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
        <div
            class="footer mb-0"
            {{ stimulus_controller('made-with-love') }}
        >
        </div>
    {% endblock %}
    </body>
</html>
